.RecordsListModal {
  &__record {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px dashed #fff;
    padding-bottom: 8px;
    margin-bottom: 8px;

    &:last-child {
      border-bottom: none;
    }
  }

  &__status {
    margin-top: 8px;
  }
}