@use '@/shared/styles/media.module.scss' as *;

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  touch-action: manipulation;

  &__header {
    flex: 0 0 auto;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior: none;
  }

  &__content {
    margin-top: 64px;
    flex: 1 1 auto;
    min-height: 0;
    padding: 24px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    position: relative;
    overscroll-behavior: none;
    touch-action: manipulation;
    -webkit-overflow-scrolling: auto;
    padding-bottom: calc(24px + env(safe-area-inset-bottom, 0px));

    @media #{$mobile} {
      padding: 16px;
      -webkit-touch-callout: none;
      user-select: none;
      touch-action: manipulation;
      padding-bottom: calc(24px + env(safe-area-inset-bottom, 0px));
    }
  }
}