.ClientForm {
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    box-sizing: border-box;
  }

  &__subjects {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
